# (Le tue regole attuali)
node_modules
npm-debug.log
dist

# --- Consigli Aggiuntivi ---

# Evita di copiare file Git (pesantissimi per i log storici)
.git
.github
.gitignore

# Evita di copiare istruzioni Docker dentro sé stesse
Dockerfile
.dockerignore

# Evita di immettere credenziali sensibili di sviluppo nell'immagine finale
.env*
